---
layout: default
---

<div class="row row-top">
  {% for post in site.posts %} {% assign remainder = forloop.index0 | modulo: 2
  %} {% if remainder == 0 %}
  <a href="{{ post.url | relative_url }}" class="scroll-item">
    <img
      src="{{ post.cover_image | relative_url }}"
      {{
      post.cover_image
      |
      imagesize
      }}
      class="gallery-img"
      loading="lazy"
    />
  </a>
  {% endif %} {% endfor %}
</div>

<div class="row row-bottom">
  {% for post in site.posts %} {% assign remainder = forloop.index0 | modulo: 2
  %} {% if remainder == 1 %}
  <a href="{{ post.url | relative_url }}" class="scroll-item">
    <img
      src="{{ post.cover_image | relative_url }}"
      {{
      post.cover_image
      |
      imagesize
      }}
      class="gallery-img"
      loading="lazy"
    />
  </a>
  {% endif %} {% endfor %}
</div>
